﻿@model MvcSiteMapProvider.Web.Html.Models.MenuHelperModel
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models

<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			@Html.ActionLink("Dijkstra Algorithm", "Index", "Home", null, new { @class = "brand" })
			<ul class="nav">
				@foreach (var node in Model.Nodes)
				{
					var hasChild = node.Children.Any();
					<li class="@(node.IsInCurrentPath ? "active" : "")@(hasChild ? "dropdown" : "")">
						@Html.DisplayFor(m => node, "SiteMapMenuNodeModel")
						@if (hasChild)
						{
							@Html.DisplayFor(m => node.Children, "SiteMapMenuNodeModelList", new { ulClass = "dropdown-menu" })
						}
					</li>
				}
			</ul>

			<ul class="nav pull-right">
				<li>
					@using (Html.BeginForm("index", "map", FormMethod.Get, new { @class = "form-search navbar-search pull-right", id = "form-searchmap" }))
					{
						<input type="text" name="search" id="search" class="search-query span2" placeholder="Search for map" />
					}
				</li>
			</ul>

		</div>
	</div>
</div>
