﻿@model MvcSiteMapProvider.Web.Html.Models.SiteMapNodeModelList
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models
@{
    object ulClass;
    if (!ViewData.TryGetValue("ulClass", out ulClass))
    {
        ulClass = "";
    }
    
}

<ul class="@ulClass">
    @foreach (var node in Model) { 
        <li>@Html.DisplayFor(m => node) 
            @if (node.Children.Any()) {
                @Html.DisplayFor(m => node.Children)
            }
        </li>
    }
</ul>