﻿@model MvcSiteMapProvider.Web.Html.Models.SiteMapNodeModel
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models

@helper RenderDropdown()
{
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        @Model.Title
        <b class="caret"></b>
    </a>
}

@if (Model.IsClickable)
{
    if (Model.Children.Any()) {
        @RenderDropdown()
    } else {
        <a href="@Model.Url">@Model.Title</a>
    }
}
else
{
    if (Model.Children.Any()) {
        @RenderDropdown()
    } else {
        <p class="navbar-text">@Model.Title</p>
    }
    
}
