﻿@model MvcSiteMapProvider.Web.Html.Models.SiteMapTitleHelperModel
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models

<h1>@Model.CurrentNode.Title <small>@Model.CurrentNode.Description</small></h1>