﻿@model MvcSiteMapProvider.Web.Html.Models.SiteMapPathHelperModel
@using System.Web.Mvc.Html
@using System.Linq
@using MvcSiteMapProvider.Web.Html.Models

<ul id="sitemap-path" class="breadcrumb">
	@foreach (var node in Model)
	{ 
		<li class="@( node.IsCurrentNode ? "active" : "")">
			@Html.DisplayFor(m => node, "SiteMapPathNodeModel")
    
			@if (node != Model.Last())
			{
				<span class="divider">/</span>
			}
		</li>
	}
</ul>
