﻿<!DOCTYPE html>

<html lang="pt-br">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
	<meta name="charset" content="utf-8" />
    <meta name="autor" content="Riderman" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="pt,pt-BR" />

	<link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">

    <title>@ViewBag.Title</title>

	@* Style Sheet *@
	@Bundles.RenderStylesheets("top")
	@Bundles.RenderStylesheets()
	@Bundles.RenderStylesheets("vendor")
	@Bundles.RenderStylesheets("page")
	@RenderSection("css", false)
</head>
<body>
	<!--[if lt IE 7]> 
		<div style=' clear: both; height: 59px; padding:0 0 0 15px; position: relative;'> <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0010_portuguese.jpg" stype="border=0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a></div>
	<![endif]-->

	@Html.MvcSiteMap().Menu(false)

	<div class="container">
		@if (IsSectionDefined("sitemap"))
		{
			@RenderSection("sitemap", false)
		}
		else
		{
			@Html.MvcSiteMap().SiteMapPath()
		}

		<div id="wrap-body">
			@RenderBody()
		</div>

	</div>

	@* Scripts *@
	@Bundles.RenderScripts("top")
	@Bundles.RenderScripts()
	@Bundles.RenderScripts("vendor")
	@Bundles.RenderScripts("page")
	@RenderSection("js", false)
	@if (!Context.IsDebuggingEnabled)
	{
		<script type="text/javascript">

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-34073168-1']);
			_gaq.push(['_setDomainName', 'dijkstrasalgorithm.apphb.com']);
			_gaq.push(['_trackPageview']);

			(function () {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

		</script>
	}

    <!--[if (gte IE 6)&(lte IE 8)]>
        <script src="~/Scripts/selectivizr-min.js" type="text/javascript"></script>
    <![endif]-->

	<script src="//static.getclicky.com/js" type="text/javascript"></script>
	<script type="text/javascript">try { clicky.init(100617078); } catch (e) { }</script>
	<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100617078ns.gif" /></p></noscript>

</body>
</html>
