﻿@section sitemap {}

<div class="row-fluid">
	<div class="span12">
		<div class="hero-unit">
			<h1>Shortest route</h1>
			<p>This application uses the <a href="http://en.wikipedia.org/wiki/Dijkstra's_algorithm" target="_blank">Dijkstra algorithm</a> to calculate the shortest distance between two points.</p>
			<p>
				@Html.ActionLink("Create", "create", "map", null, new { @class = "btn btn-large btn-primary", id = "create-map" })
				@Html.ActionLink("Maps", "index", "map", null, new { @class = "btn btn-large", id = "search-map" })
			</p>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<h2>How it works</h2>
				<dl>
					<dt>Maps to be used</dt>
					<dd>Create maps with directions and distances between the points to use and share with the community.</dd>
					<dt>Calculating the distance</dt>
					<dd>Select the map for the system to calculate the shortest distance between two points.</dd>
					<dt>Calculating the path</dt>
					<dd>Select the map for the system to calculate the shortest path between two points.</dd>
				</dl>
			</div>

			<div class="span6">
				<h2>Get Started</h2>
				<p>You can start by creating a map, or selecting an existing map in our database.</p>

				<h4>Create map</h4>
				<p>In the top menu</p>
				<ul>
					<li>Click in <span class="label label-inverse">Maps</span></li>
					<li>Click in <span class="label label-inverse">Create</span></li>
					<li>Click to add a point or drag to connect two points.</li>
				</ul>

				<h4>Find route in map</h4>
				<p>In the top menu</p>
				<ul>
					<li>Click in <span class="label label-inverse">Maps</span></li>
					<li>Click in <span class="label label-inverse">List</span></li>
					<li>Select the map to find a route.</li>
				</ul>

				<h4>Search map</h4>
				<p>In the top menu</p>
				<ul>
					<li>Enter map name in <span class="label label-inverse">Search for map</span> field.</li>
					<li>Hit <span class="label label-inverse">enter</span> to find a map by name.</li>
				</ul>
			</div>
		</div>
	</div>
</div>
