#map {
  margin: 20px 0; }
  #map canvas {
    border: 1px solid #CCC; }

.btn-group form {
  margin: 0; }

#prompt-distances {
  padding-left: 10px; }
  #prompt-distances > input {
    margin-left: 0; }

