﻿@model Map
@{
	Bundles.Reference("Scripts/Vendors/kinetic-v4.4.3.min.js");
}

@Html.MvcSiteMap().SiteMapTitle()

<div class="btn-group pull-right">
	@using (Html.BeginForm("create", "map", FormMethod.Post, new { @class = "form-inline", id = "form-map" }))
	{
		@Html.AntiForgeryToken()
		@Html.EditorForModel()
	}
</div>


<span id="prompt-distances" class="checkbox">
	<input type="checkbox" />
	Prompt distances
</span>

<div id="map"></div>


Graph: <input class="input-large" id="text-graph" name="Name" placeholder="Eg. AB5 BC2 CD3 > enter to apply" type="text" value="">
<button id="reset-map" class="btn btn-small btn-danger pull-right">Clean</button>	


