﻿@model Map
@{
	Bundles.Reference("Scripts/Vendors/kinetic-v4.4.3.min.js");
	Bundles.Reference("Scripts/Vendors/jquery.buildr.min.js");
}

@Html.MvcSiteMap().SiteMapTitle()
@Html.HiddenFor(p => p.Id)
@Html.HiddenFor(p => p.GraphJson)

<div id="message"></div>

<button id="calcule-route" class="btn btn-primary">Calculate route</button>

<div id="map"></div>