﻿@model IEnumerable<Map>
@Html.MvcSiteMap().SiteMapTitle()

@Html.ActionLink("Create map", "create", "map", null, new { @class="btn" })

<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Created</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var map in Model)
		{
			<tr>
				<td>@Html.ActionLink(map.Name != null ? map.Name : "<no name>", "details", new { id=map.Id })</td>
				<td>@map.DateAdded.ToShortDateString()</td>
			</tr>
		}
	</tbody>

</table>
