﻿@model Map

@Html.HiddenFor(p => p.GraphJson)
<div class="input-append">
	@Html.TextBoxFor(p => p.Name, new { @class = "input-small", placeholder = "Map name" })
	<button id="save-map" type="button" class="btn btn-small btn btn-primary">Save</button>
</div>